body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d40000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a:hover {
    color: #fd07bf
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.about-box {
    background-color: #f4f4f4;
    border: 2px solid #df0000;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    bottom: 0;
    right: 50%;
}
.img-uhsl {
    width: 100px;
    height: 100px;
    top: 0;
    left: 50%;
}
.pic-burger{
    width: 300px;
    height: 300px;
    margin-left: 10%; 
}
.pic-wings{
    width: 300px;
    height: 300px;
    margin-left: 10%; 
}
.pic-sandwhich{
    width: 300px;
    height: 300px;
    margin-left: 10%; 
}

.promt-type{
    margin-top: auto;
}
.dropbtn {
    background-color: #d40000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #fd07bf;
  }